<head>
	<!-- Titulo de la pagina
	================================================== -->
	<title><%= title %></title>

	<!-- Metas HTML 
	================================================== -->
	<meta charset="utf-8"/>
	<meta name="author" 		content="Aqui va el autor de la pagina"/>
	<meta name="description" 	content="Aqui va la descripcion del sitio"/>
	<meta name="classification" content="Palabras para clasificar la página en los buscadores"/>
	<meta name="generator" 		content="Programa utilizado para crear la página"/>
	<meta name="keywords" 		content="Aqui van las palabras clave, para la busqueda de la pagina"/>

	<!-- Meta especifica para mobil
	================================================== -->
	<meta name="viewport" 		content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Proyecto humans.txt
	================================================== -->
	<link rel="author"			type="text/plain"  	href="humans.txt"/>

	<!-- CSS
	================================================== -->
	<!-- <link rel="stylesheet" 		type="text/css" 	href="DIRECCION"/> -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" 		type="text/css"		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"			integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"	crossorigin="anonymous">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet"		type="text/css"		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"	crossorigin="anonymous">
	
	<!-- Favicons
	================================================== --> 
	<link rel="shortcut icon" 		type="image/x-icon"	href="img/favicon.ico"> 

	<!-- Favicons  iDevice
	================================================== -->
	<link rel="apple-touch-icon"					href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon"	sizes="57x57"	href="img/apple-touch-icon-57x57.png"><!-- Para Iphone -->
	<link rel="apple-touch-icon"	sizes="72x72"	href="img/apple-touch-icon-72x72.png"><!-- Para Ipad -->
	<link rel="apple-touch-icon"	sizes="114x114"	href="img/apple-touch-icon-114x114.png"><!-- Para Iphone 4 de alta resolucion -->

	<!-- Incompatibilidad de navegadores
	================================================== -->

		<!--[if lt IE 7]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

	<!-- Script's  
	================================================== --> 

	<script type="text/javascript">

	</script>

	<!-- CSS incrustado
	================================================== --> 
	<style type="text/css">

	/*-- Colores-CMYK
	================================================== --*/
		.cyan{
			background-color:#009BDB;
			color: #FF6424; 
		}
		.magenta{
			background-color:#BA007C;
			color: #45FF83; 
		}
		.yellow{
			background-color:#FEEE00;
			color: #0011FF; 
		}
		.key{
			background-color:#211915;
			color:#DEE6EA;
		}
	</style>
	
</head>